<center>
    <h1>My Jupyter Notebook on IBM Watson Studio</h1>
</center>


<p><b>GanaÃ«l</b></p>
Data Scientist

<i>I am interseted in data science because it will open me doors to push in building Machine Learning models</i>

<h3>This code takes the temperature in celsius and converts in Fahrenheit</h3>

In [17]:
# C variable is the temperature in celsius 
# The print out is the convestion in fahrenheit


C=0
F = C*1.8 + 32
print(F)

32.0

Table

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Country</th>
    <th>Genre</th>
    <th>Age</th>
    <th>Profession</th>
  </tr>
  <tr>
    <td>Igor</td>
    <td>Bogdan</td>
    <td>Belarus</td>
    <td>Male</td>
    <td>30</td>
    <td>Data Analyst</td>
  </tr>
  <tr>
    <td>Ali</td>
    <td>Hakimi</td>
    <td>Morocco</td>
    <td>Male</td>
    <td>51</td>
    <td>Engineer</td>
  </tr>
   <tr>
    <td>Michelle</td>
    <td>Daouda</td>
    <td>Benin</td>
    <td>Female</td>
    <td>28</td>
    <td>Actuary</td>
   </tr>
</table>



Hyperlinks

<a href="https://www.youtube.com/">Visit YouTube</a>



Bulleted list of groceries

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
  <li>Bread</li>
  <li>Fruits</li>
  <li>Cheese</li>
</ul>